{% load i18n %}
{% include 'global/partials/menu.html' %}
<header class="main-header-container">
  <a href="{% url 'app:home' %}"
    ><h1><i class="fas fa-address-book"></i> {% translate 'Recipes' %}</h1></a
  >
  <div class="container-nav">
    {% if not user.is_authenticated %} 
        {% if not is_login_page %}
        <a href="{% url 'author:login' %}">
            <div class="btn-users-nav">
                <h6>Login</h6>
            </div>
        </a>    
        {% endif %}
        {% if not is_register_page %}
        <a href="{% url 'author:register_author' %}">
            <div class="btn-users-nav">
                <h6>{% translate 'Register' %}</h6>
            </div>
        </a>
        {% endif %} 

    {% else %}
    {% if is_dashboard is None %}
        <a href="{% url 'author:dashboard' %}">
            <div class="btn-users-nav">
                <h6>{% translate 'My dashboard' %}</h6>
            </div>
        </a>
    {% endif %}    
    <form action="{% url 'author:logout' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="username" value="{{ user.username }}">
        <button type="submit" title="Sair submit" class="btn-users-nav">
            <h6>{% translate 'Logout' %}</h6>
        </button>
    </form>
    {% endif %}
  </div>
</header>
