{% extends 'global/base.html' %} 
{% block base_title %}
    {{ title|default:"Dashboard Recipe| Author" }}
{% endblock base_title %}
{% block base_css %}
{% load static %}
<link rel="stylesheet" href="{% static 'author/dashboard.css' %}">
{% endblock base_css %}
{% block content %}
    {% include 'global/partials/header_recipes.html' with is_register_page=True %}
    <div class="container">
        <h1>Dashboard Recipe</h1> 
        {% include 'author/partials/login_message.html' %} 
    </div>  
    <div class="main-container-recipes-author">
        {% include 'global/partials/forms.html' %}
    </div>
    {% include 'global/partials/footer.html' %}
{% endblock content %}