{% extends 'global/base.html' %} 
{% block base_title %}
    {{title|default:'Register | Author'}}
{% endblock base_title %}
{% block base_css %}
{% load static %}
<link rel="stylesheet" href="{% static 'author/register.css' %}">
{% endblock base_css %}
{% block content %}
    {% include 'global/partials/header_recipes.html' with is_register_page=True %}
    <div class="container">
        <h1>Register</h1> 
    </div>  
    <div class="content-register-page">
       {% include 'global/partials/forms.html' %}
    </div>
{% endblock content %}