body {
    background-color: var(--bg-color);
}

a {
    text-decoration: none;
}

.main-content {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 1.5rem;
}
.pages {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    gap: 0.8rem;
  }
.pages .page-item {
    background-color: rgba(0, 162, 255, 0.8);
    color: aliceblue;
    padding: .5rem;
}
.pages .page-item-current {
    background-color: rgba(189, 189, 189, 0.8);
    color: rgb(0, 0, 0);
    padding: .5rem;
}
@media(max-width:800px){
    .main-header-container {
        font-size: .3rem;
    }
    .card-recipe-container {
        max-width: 50%;
    }
}